language: php

cache:
  apt: true
  directories:
    - $HOME/.composer/cache

php:
  - '7.1'
  - '7.2'
  - '7.3'

before_install:

script:
  - composer install
  - php vendor/bin/phpunit

after_success:
  - travis_retry php vendor/bin/php-coveralls