<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Amber Test Suite">
            <directory>./src/Tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
            <exclude>
                <directory suffix=".php">./src/Tests/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
